.introduction{
    color: var(--secondary-color);
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    
}

.infos{
    width: 50%;
    padding: 40px;
}
.infos h1{
    font-size: 60px;
}
.carousel{
    width: 50%;
}