/* Definição de variáveis para padronização */
:root{
    --primary-color: #000;
    --secondary-color: #f9f9f9;
    --green-dark: #006312;
    
}
/* Importação Fontes */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@200;300;400;500;600;700;800;900&display=swap');
/* Normalização do CSS e configurações globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', 'Inter',sans-serif;
}

body{
    background-color: var(--primary-color);
}