@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.introduction{
    color: var(--secondary-color);
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    
}
.infos{
    width: 50%;
    padding: 40px;
}
.infos h1{
    font-size: 3.75rem;
}
.infos h2{
    font-size: 1.75rem;
    font-weight: 300;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}
.carousel h3{
    display: inline;
    color: var(--primary-color);
    font-weight: 600;
    background-color: var(--green-dark);
    border-radius: 5px;
    margin: 10px;
}

.carousel .efficiency, .strategy, .potential{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 60%;
    height: 60%;
    aspect-ratio: 4/3;
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    /* box-shadow: rgba(143, 143, 143, 0.3) 0px 19px 38px, rgba(187, 192, 188, 0.22) 0px 15px 12px; */
    box-shadow: #00961b4d 0px 19px 38px, rgba(0, 150, 27, 0.22) 0px 15px 12px;
}
.carousel .efficiency{
    background-image: url(assets/jpg/Economic_Efficiency.png);
}
.carousel .strategy{
    background-image: url(assets/jpg/strategy.jpg);
}
.carousel .potential{
    background-image: url(assets/jpg/potential.jpg);
}
.carousel .left{
    transform: scale(0.8);
    right: .75em;
}
.carousel .right{
    transform: scale(0.8);
    left: -.75em;
}
.carousel .front{
    transform: scale(1.2);
    z-index: 1;
}

.carousel .item{
    transition: all 1s ease-in-out;
}