/* Importação dos estilos */
/* Head */
@import url('head.css');
/* Seção 1 */
@import url('section1_introduction.css');
@import url('section2_about.css');
@import url('section3_solutions.css');
@import url('section4_footer.css');
/* Importação Fontes */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Definição de variáveis para padronização */
:root{
    --primary-color: #000;
    --secondary-color: #f9f9f9;
    --green-dark: #00961b;
    
}
/* Normalização do CSS e configurações globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right bottom, #212121, #1b1b1b, #141414, #0c0c0c, #000000);
    overflow: hidden;
}

main{
    max-width: 1320px;
    margin: 0 auto;
}

#introduction, #about, #footer, #solutions{
    scroll-margin-top: 4rem;
    margin: 64px auto 0 auto;
}

/* Padronização do tamanho da fonte de cada elemento */
h1 {
    font-size: 3.75rem;
}
h2{
    font-size: 1.75rem;
}
h6{
    font-size: 1rem;
}
p{
    font-size: .9rem;
}
li{
    font-size: .9rem;
}

/* Padrão de navegador */
/* Fazer o mediaquery para telas no máximo de 480px */