/* Estilização da Barra de Navegação */

header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 15%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right bottom, #212121, #1b1b1b, #141414, #0c0c0c, #000000);
    background-attachment: fixed;
    z-index: 3;
}
header button{
    display: none;
}
header img{
    max-width: 100px;
    width: 100%;
    padding-top: 10px;
}
header .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    transition: scale 300ms ease-in-out;
}
header .image:hover{
    scale: 1.2;
}
header nav{
    width: 100%;
}
header nav ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
    list-style: none;
}
header nav ul li a{
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
    position: relative;
    transition: color .3s ease-out;
}
header nav ul li a:hover{
    color: var(--green-dark);
    font-weight: 400;
    filter: drop-shadow(0 0px 10px #00961b) contrast(2) brightness(2);
}
/* site com os hover: https://css-tricks.com/css-link-hover-effects/ */
header nav ul li a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--green-dark);
    bottom: 9px;
    left: 0;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
header nav ul li a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

/* Mobile version */

@media only screen and (max-width: 600px) {

header button{
    display: flex;
    background-color: transparent;
    border: none;
}
header button > img{
    width: 1rem;
    
}

}