.about{
    height: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    gap: 6rem;
}

.ceos{
    display: flex;
}

.image-ceo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.image-ceo img{
    width: 70%;
    border-radius: 5px;
    margin: 0 30px;
    aspect-ratio: 2/2;
    object-fit: cover;
    min-width: 12rem;
}

.image-ceo blockquote{
    color: var(--secondary-color);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: -1rem 1rem .4rem -1rem rgba(0, 150, 27, 1);
    border-radius: 3px;
}

.about-ceo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    row-gap: 15px;
}

blockquote h4{
    font-weight: 500;
}
blockquote footer{
    font-size: 0.75rem;
    margin-top: .75rem;
}

.education, .experience, .about-us{
    border-radius: 3px;
    margin-top: 5px;
    padding: 10px 10px 10px 15px;
    box-shadow: -1rem 1rem .4rem -1rem rgba(0, 150, 27, 1);
    font-weight: 300;
}

.about-us{
    width: 100%;
}
.about-us>span{
    display: inline-block;
    width: 70%;
    border-bottom: 1.5px solid #fff;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
.ceos{
    flex-direction: column;
}
.about-ceo{
    width: 70%;
    margin: 0 auto;
}


}